
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.stage-parent {
    width: 100%;
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
    margin-top: 120px;
    cursor: pointer;
}

.konvajs-content {
  cursor: pointer;
}

.control-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 9999;
  justify-content: space-between;
}

.control-bar .settings {
  width: calc(100% - (100px + 5%));
  padding: 1rem;
}

.control-bar .undo-button {
  width: calc( 100px + 5%);
  color: #4e2a84;
}

.control-bar .color-size-buttons {
  width: 70px;
  box-sizing: border-box;
}

.control-bar .color-size-buttons > div {
  float: right;
  top: 10px;
  right: 10px;
}

.color-slider-picker {
  margin-bottom: 2rem;
}

.undo-button svg {
  margin-top: 1rem;
  margin-left: 1rem;
}

.undo-button svg:hover {
  cursor: pointer;
}

.undo-button.no-history svg,
.undo-button.no-history svg:hover {
  opacity: 0.5;
  cursor: auto;
}

.current-color {
  display: block;
  margin-bottom: 2rem;
}

.current-color::after {
  content: 'Brush Color';
  position: absolute;
  bottom: -18px;
  text-align: center;
  width: 100%;
  left: 0;
}

.current-size{
  display: block;
}

.current-size::after {
  content: 'Brush Size';
  position: absolute;
  bottom: -18px;
  text-align: center;
  font-family: "Akkurat Pro Regular";
  font-size: 10px;
  width: 100%;
  left: 0;
}

.undo-text {
  width: 40px;
  margin-left: 1rem;
  text-align: center;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top:  0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.0);
  display: none;
  transition: background 1s ease;
}

.overlay.active {
  display: block;
  background: rgba(0,0,0,0.4);
  transition: background 1s ease;
}

.overlay.modal {
  background: rgba(0,0,0,0.4);
  transition: background 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-modal {
  width: 80vw;
  padding: 2rem;
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.modal-header {
  font-size: 24px;
  font-family: "Campton Bold";
  color: #4e2a84;
}

.size-picker > div{
  padding-right: 2rem;
}

.size-option {
  font-size: 12px;
  padding: 1rem;
  text-transform: uppercase;
  opacity: 0.6;
}

.size-option.active {
  opacity: 1;
  outline: none;
}

.last-save {
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
}

.last-save-name {
  font-size: 24px;
  font-family: "Campton Bold";
  color: #4e2a84;
}

.report-painting {
  padding: 6px 12px;
  color: white;
  background-color: #EF553F;
  font-size: 12px;
  border-radius: 20px;
  margin-top: 8px;
  margin: 0 auto;
}

.report-painting:focus, .report-painting:active, .report-painting:hover {
  outline: none;
  background-color: #D85820;
}

.save-menu {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #4e2a84;
  padding-top: 2rem;
  margin-top: 2rem;
}

.artist-name {
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  font-size: 16px;
}

.artist-name.error {
  border: 1px solid red;
  color: red;
}

.artist-name.error::placeholder {
  color: red;
}

.save-btn {
  font: 16px "Akkurat Pro Bold", "Arial Black", sans-serif;
    color: #fff;
    background: #4e2a84;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: .8em 1em .7em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    min-width: 165px;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
}

.save-btn:active, .save-btn:focus, .save-btn:hover {
  outline: none;
}

.save-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b6acd1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.save-btn:hover:before, .save-btn:active:before, .save-btn:focus:before {
  -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.error-msg {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-size: 12px;
  color: red;
  padding: 0 1rem;
  margin-bottom: 8px;
}

.past-paintings-btn {
  display: block;
  margin-top: 1rem;
}

.painting-history-list {
  display: block;
  width: 100%;
  position: relative;
}

.painting-history-list.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.past-painting {
  display: block;
  width: calc( 33% - 1rem );
}

.past-painting__rock {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.past-painting__rock img {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 1080px;
  height: auto;
  top: 0;
  box-sizing: border-box;
}

img.rock-overlay {
  box-sizing: content-box;
  width: 101%;
}